<?xml version="1.0" encoding="UTF-8"?>
<!--suppress XmlUnboundNsPrefix -->
<Configuration package="log4j.test" status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{ABSOLUTE} %-5level %c{1} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="log4j.test.Log4jTest" level="trace">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="trace">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
